:root {
  --main-font: stolzl, sans-serif;
}

:root {
  --main-color: #e2fffd;
}

:root {
  --background-color: #fff9f2;
}

:root {
  --third-color: #dddddd;
}

h2 {
  font-family: var(--main-font);
  text-align: center;
  font-family: Basil;
  font-style: italic;
}
h1 {
  text-align: center;
  font-family: Basil;
  font-style: italic;
  font-size: 50px;
}

body {
  background-color: var(--background-color);
  margin: auto;
}

img {
  padding: 20px 20px;
  width: 80%;
  height: auto;
  display: block;
  margin: auto;
}

p {
  font-size: 20px;
  font-family: var(--main-font);
}

ul {
  list-style: none;
  font-family: var(--main-font);
  margin: 0 !important;
  padding: 0 !important;
  font-size: 20px;
}

path {
  height: 10px !important;
  width: 2808px !important;
}

header {
  background-color: var(--main-color);
}
nav {
  color: black;
  padding: 20px 0;
}

nav li {
  display: inline;
  line-height: 40px;
  margin-left: 10px !important;
  padding: 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: black;
}

nav li :hover {
  color: var(--third-color);
}
nav li.active a {
  font-weight: 800 !important;
  text-decoration: underline;
}

footer {
  background: var(--main-color);
  padding: 40px;
}

.homeText {
  padding: 60px 60px;
  margin: 0px;
  text-align: center;
  width: 700px;
  height: 500px;
}

.hero {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/006/192/original/Stormy_day_at_greystones_cove.jpg?1617281927");
  height: 697px;
  text-align: center;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  padding: 230px 100px;
  margin: 30px;
}

.hero-text {
  padding: 10px 10px;
  text-align: center;
  background-color: rgba(229, 243, 230, 0.5);
  font-size: 40px;
}

.hero-text h1 {
  font-size: 60px;
}

.hero-text h2 {
  padding: 10px;
}

.logo {
  width: 400px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0 0 0;
  box-shadow: none !important;
}

.logo-small {
  width: auto;
}

.curvedPrimary svg {
  display: block;
  background-color: var(--main-color);
}

.curvedPrimary {
  background-color: var(--main-color);
}

.curvedGreen svg {
  display: block;
  background-color: var(--background-color);
}
.curvedGreen {
  background-color: var(--background-color);
}

.greyButton {
  color: black;
  background-color: var(--third-color) !important;
  padding: 20px 15px;
  font-family: var(--main-font);
  font-size: 20px;
  line-height: 27px;
  margin: 0;
  border: none;
}

.greyButton:hover {
  background-color: black !important;
  color: #fff;
}

.aboutText p,
.aboutText ul {
  font-size: 15px;
}

.aboutText,
.contactText {
  padding: 20px 90px;
}

.social-links a {
  margin: 0 20px;
  color: black;
  background-color: var(--third-color);
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 50%;
}
.social-links a:hover {
  color: white;
  background: black;
}

.middle {
  transition: 0.5s ease;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 250px;
}

.colToday a,
.colOther a,
.colWas a,
.colTime a {
  margin: 10px;
  padding: 80px 20px;
  background-repeat: no-repeat !important;
  display: block;
  width: 350px;
  height: 250px;
  color: white !important;
  font-size: 35px !important;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  font-family: Basil;
  font-style: italic;
}

.colOther a {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/006/738/original/Making_Memories_Godrevy_Cornwall_2.png?1617882613");
}
.colToday a {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/006/741/original/This_is_us_Greystones_Cove_1.png?1617885379");
}

.colWas a {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/006/735/original/Greystones_Docks_Where_we_learned_to_swim_2.png?1617882397");
}

.colTime a {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/006/736/original/Walking_the_walk_Bray_to_Greystones_cliff_walk_2.png?1617882481");
}

.collections {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/006/750/original/wave_%2813%29_1.png?1617887542");
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  padding: 50px 0px 0px 0px;
}

.aboutme {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/006/744/original/wave_%287%29_%281%29_2.png?1617886129");
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}
.bottom {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/006/744/original/wave_%287%29_%281%29_2.png?1617886129");
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  height: 500px;
}

.title-background {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/006/833/original/wave_%2815%29.png?1617975304");
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  height: 500px;
}

.title-background h1 {
  padding: 100px;
  font-size: 80px;
}

.contactme {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/006/747/original/wave_%287%29_%281%29_3.png?1617887060");
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

.photo-text {
  padding: 50px 60px;
  background: var(--third-color);
  height: 420px;
}

.col-row {
  margin-top: 20px;
}

.card-img-top img {
  padding: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 900px) {
  h1 {
    font-size: 30px !important;
    text-align: center;
  }

  h2 {
    font-size: 20px;
    text-align: center;
  }

  p {
    font-size: 10px;
    text-align: center;
  }

  li {
    font-size: 10px;
  }

  .hero {
    height: 556px;
    background: none;
    background-color: var(--main-color);
    padding: 20px 5px;
    align-items: center;
  }

  .hero-text {
    background-color: transparent;
  }

  .greyButton {
    padding: 10px 5px;
    font-size: 10px;
    line-height: 15px;
  }

  nav li {
    font-size: 10px;
    text-align: center;
    margin: 2px !important;
  }
}
