:root {
  --main-font: stolzl, sans-serif;
}

:root {
  --main-color: #e2fffd;
}

:root {
  --background-color: #fff9f2;
}

:root {
  --third-color: #dddddd;
}

h2 {
  font-family: var(--main-font);
}

body {
  background-color: var(--background-color);
}

img {
  margin: 0;
  width: 50%;
  margin-left: auto;
  display: block;
  margin-right: auto;
  padding: 40px 20px;
  width: 648px;
  height: 500px;
}

p {
  font-size: 20px;
  font-family: var(--main-font);
}

ul {
  list-style: none;
  font-family: var(--main-font);
  margin: 0 !important;
  padding: 0 !important;
  font-size: 20px;
}

path {
  height: 10px !important;
  width: 2808px !important;
}

header {
  background-color: var(--main-color);
}
nav {
  color: black;
  padding: 20px 0;
}

nav li {
  display: inline;
  line-height: 40px;
  margin-left: 10px !important;
  padding: 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: black;
}

nav li :hover {
  color: var(--third-color);
}
nav li.active a {
  font-weight: 800 !important;
  text-decoration: underline;
}

footer {
  background: var(--main-color);
  padding: 40px;
}

.homeText {
  padding: 60px 60px;
  margin: 0px;
  text-align: center;
  width: 700px;
  height: 500px;
}

.hero {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/006/192/original/Stormy_day_at_greystones_cove.jpg?1617281927");
  height: 697px;
  text-align: center;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  padding: 230px 100px;
  margin: 30px;
}

.hero-text {
  padding: 10px 10px;
  text-align: center;
  background-color: rgba(229, 243, 230, 0.5);
  font-size: 40px;
}

.hero-text h1 {
  font-size: 60px;
}

.hero-text h2 {
  padding: 10px;
}

.logo {
  width: 400px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0 0 0;
  box-shadow: none !important;
}

.curvedPrimary svg {
  display: block;
  background-color: var(--main-color);
}

.curvedPrimary {
  background-color: var(--main-color);
}

.curvedGreen svg {
  display: block;
  background-color: var(--background-color);
}
.curvedGreen {
  background-color: var(--background-color);
}

.greyButton {
  color: black;
  background-color: var(--third-color) !important;
  padding: 20px 15px;
  font-family: var(--main-font);
  font-size: 20px;
  line-height: 27px;
  margin: 0;
  border: none;
}

.greyButton:hover {
  background-color: black !important;
  color: #fff;
}

.homeImage {
  width: 648px;
  height: 500px;
}

.aboutText p,
.aboutText ul {
  font-size: 15px;
}

.aboutText,
.contactText {
  padding: 20px 80px;
}

.social-links a {
  margin: 0 20px;
  color: black;
  background-color: var(--third-color);
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 50%;
}
.social-links a:hover {
  color: white;
  background: black;
}

.contact-image {
  width: 445px;
  height: 445px;
}
